<div id="<%= dom_id spending %>">
  <p>
    <strong>Name:</strong>
    <%= spending.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= spending.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= spending.user_id %>
  </p>

</div>
