
 <%
=begin%>
 <div class= "border border-primary">  
<%
=end%>

<%= link_to group_path(group.id), class:"text-decoration-none text-dark shadow d-flex mx-3  " do %>
<%
=begin%>
 <div class = "d-flex justify-content-between "> 
<%
=end%>
   <div>
    <%= image_tag group.image_url, :class => "icon" %>
  </div>
  <div class=" d-flex w-100  mx-3 justify-content-between ">
  <div>
    <%= group.name %>
  </div>


    <div>
    <%= group.amount %>

  </div>
  </div>

<%
=begin%>
 </div> 
<%
=end%>
<%end%>
<%
=begin%>
 
 </div>  
<%
=end%>

