<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag group.image_url if group.image%>
  </p>

  <p>
    <strong>User:</strong>
    <%= group.user_id %>
  </p>

</div>
